@import "tailwindcss";

@theme {
  --color-primary: #00E5FF;
  --color-secondary: #B400FF;
  
  --color-bg-dark: #05050A;
  --color-panel-dark: #0F1219;
  
  --color-surface: rgba(255, 255, 255, 0.04);
  --color-surface-border: rgba(255, 255, 255, 0.1);
  
  --color-text-main: #F1F5F9;
  --color-text-muted: #94A3B8;

  --font-display: "Inter", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle at center top, #0F1219 0%, #05050A 100%);
  background-attachment: fixed;
  color: #F1F5F9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  color-scheme: dark;
}

/* Hide scrollbar for clean look */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.glass-panel {
  background-color: var(--color-surface);
  border: 1px solid var(--color-surface-border);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

.neon-text-primary {
  text-shadow: 0 0 10px rgba(0, 229, 255, 0.5);
}

.neon-text-secondary {
  text-shadow: 0 0 10px rgba(180, 0, 255, 0.5);
}
